<!doctype html>
<html>

<head>
	<title><%- hero %></title>
	
	<style>
	canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>
</head>

<body>
	<h1>Stats de <%- hero %></h1>
        <div style="width:75%;">
                <canvas id="canvas"></canvas>
        </div>

	<script src="Chart.bundle.js"></script>
	<script src="utils.js"></script>
	<script>
		let config = JSON.parse('<%- config %>');

		window.onload = function() {
			var ctx = document.getElementById('canvas').getContext('2d');
			window.myLine = new Chart(ctx, config);
		};
	</script>